[submodule "BotMaster/vendor/glm"]
	path = BotMaster/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "BotMaster/vendor/spdlog"]
	path = BotMaster/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
